@if (cartItems().length) {
  <mat-card class="cart-card">
    <mat-card-title>Your Shopping Cart</mat-card-title>
    <mat-card-content>
      <mat-list>
        @for (item of cartItems(); track item) {
          <mat-list-item>
                <span class="item-cart">
                  <h3>{{ item.quantity }} x {{ item.product.productName }}</h3>
                  Taxes : {{ getTax(item)| currency: 'EUR' }}
                  Prix unitaire HT :  {{ getPriceHT(item)| currency: 'EUR' }}
                  Prix unitaire TTC : {{ getPriceTTC(item)| currency: 'EUR' }}
                </span>
            <button mat-icon-button color="warn" (click)="removeFromCart(item)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        }
      </mat-list>
      <div class="cart-total">
        Total taxes : {{ getTotalTaxes() | currency: 'EUR' }} <br>
        Total TTC : {{ getTotalTTC() | currency: 'EUR' }}
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">
        Proceed to Checkout
      </button>
    </mat-card-actions>
  </mat-card>
} @else {
  <div class="empty-cart-title"> Votre panier est vide :’(</div>
}
