#product-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background: white;
}

.category {
  margin: 20px 0;
  width: 300px;
}

@media screen and (max-width: 768px) {
  #product-grid {
    grid-template-columns: 1fr;
  }
}
