<mat-card id="product-card">
  <mat-card-content>
    <h2>{{ product().productName }}</h2>
    {{ product().category }} <br>
    {{ product().price | currency:'EUR'}}<br>
    <p class="price"> Prix TTC : {{ calculatePriceTTC(product()) | currency:'EUR' }}</p><br>
    Quantité en stock : {{ product().quantity || 0 }}
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"  (click)="addToCart()">
      <mat-icon>add_shopping_cart</mat-icon> Add to Cart
    </button>
  </mat-card-actions>
</mat-card>
