<mat-toolbar>
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button routerLink = "/home">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-button routerLink = "/products">
    Products
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink = "/cart">
    <mat-icon>shopping_cart</mat-icon>
    Cart
    <ng-container *ngIf="totalItemCount() > 0" class="cart-counter">
      {{ totalItemCount() }}
    </ng-container>
  </button>
  <button mat-raised-button>
    Login
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
